doctype html
html
  head
    meta(charset='utf-8')
    title Hello, World! &bull; A-Frame
    meta(name='description', content='Hello, World! • A-Frame')
    script(src='https://aframevr.github.io/aframe/dist/aframe.min.js')
    script(src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.2.2/dist/aframe-extras.min.js")
    script(src='index.js')
  body
    a-scene
      include ./templates/basic
      a-entity(text="text: Dog?;")
      a-sky(color='#ECECEC')
      a-entity(camera="userHeight: 1.6" universal-controls)
